{% extends "base.html"%} {% block content%}
<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="width: 180%">
        <div class="col p-4 d-flex flex-column position-static">
            <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
            <h1 class="mb-0" style="margin-left: 20px;margin-top: 20px;">About Us</h1>
            <!-- <div class="mb-1 text-muted">Nov 12</div> -->
            <p class="card-text mb-auto" style="margin-left: 20px;margin-top: 50px;">Our website serves the users with famous places of <br> cities within a state for the purpose of tourism as well <br> as near by hotels and cafes with good facilities. <br> Email :- shivam01kushwah@gmail. <br> helpline no:- 8965939881
                <br> Address:- Everest boys hostel MT-1, <br> National Institute Of Technology Karnataka, <br>Surathkal,575025</p>
            <!-- <a href="#" class="stretched-link">Continue reading</a> -->
        </div>
        <div class="col-auto d-none d-lg-block">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img class="bd-placeholder-img" style="margin-top: 20px;" width="100%" height="450px" src="/static/images/anu.jpeg" alt="">

        </div>
    </div>
</div>
<!-- <h1 style="margin-left: 70px;">About Us</h1>
<div>
    <p style="margin-left: 70px;margin-top: 40px;">Our website serves the users with famous places of <br> cities within a state for the purpose of tourism as well <br> as near by hotels and cafes with good facilities. <br> Email :- shivam01kushwah@gmail. <br> helpline no:- 8965939881
        <br> Address:- Everest boys hostel MT-3, <br> National Institute Of Technology Karnataka, <br>Surathkal,575025</p>
    <img src="/static/images/anu.jpeg" alt="">
</div>
<div style="margin-left: 150px;">
    <img src="/static/images/anu.jpeg" alt="">
</div> -->
{%endblock%}