<footer class="row row-cols-5 py-5 my-5 border-top" style=" background-color: rgb(161, 185, 185); ">
    <div class="col">
        <ul style="font-size: 25px"> services</ul>
        <ul>
            <li><a href="/aboutus"> About US</a></li>
            <li><a href="/contactus"> Contact Us</a> </li>
        </ul>
    </div>

    <div class="col">

    </div>


    <div class="col">
        <h5>Mail Us</h5>
        <ul class="nav flex-column">
            <p>
                Tourism management porvides famous cities of states with their near by hotels and cities.
                <br> Mail us <br> shivam01kushwah@gmail.com
            </p>
        </ul>
    </div>

    <div class="col">
        <h5>Registered Office Address:</h5>
        <ul class="nav flex-column">
            <p>

                Everest Boys Hostel , <br> National Institute Of technology Karnataka, <br> Surathkal,575025 <br> Karnataka, India <br> Contact No: 8965939881
                <br>
            </p>
        </ul>
    </div>

    <!-- <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
    </div> -->
</footer>
<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>