{% extends "base.html"%} {% block content%}
<img src="/static/images/tajmahal.jpg" alt="" style="margin: 10px auto 20px;display: block;">
<h1>Taj mahal</h1>
<article>Perhaps India's most recognizable building, the Taj Mahal is also the world's most famous testimony to the power of love. Named after Mumtaz Mahal, the favorite wife of Emperor Shah Jahan, this most beautiful of mausoleums was begun upon her death in
    1631 and took 20,000 workmen until 1648 to complete. Incorporating many elements of Islamic design including arches, minarets, an onion-shaped dome, and black calligraphy inlaid around the entrance, the Taj Mahal is largely constructed of white marble.
    Adding to its splendor are delicate inlaid floral patterns and precious and semi-precious stones such as jade, lapis lazuli, diamonds, and mother of pearl. The best time to visit is either at dawn or dusk when the atmosphere is brilliantly altered
    by the change in lighting. If possible, try to catch a view of the Taj Mahal's reflection from the far bank of the Yamuna River-it makes for a memorable (and safe) selfie. Address: 64 Taj Road, Agra-282001 Accommodation: Where to Stay in Agra Read
    More: Attractions & Places to Visit in Agra</article>
<button style="margin: 10px auto 20px;display: block;width: 100%;"><a href="https://www.booking.com/landmark/in/taj-mahal.en.html?aid=314920;label=taj-mahal-pn6dct*woD7n7lT76Dr"> Hotels</a></button>
<button style="margin: 10px auto 20px;display: block;width: 100%;"><a href="https://cafes.heyplaces.in/Agra/The_Taj/"> Cafes</a></button> {%endblock%}